@using Kidemy.Application.ViewModels.Page;
@model List<ClientSidePageViewModel> ;

@if (Model is not null && Model.Any())
{
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Details" asp-controller="Page" asp-area="" asp-route-slug="@item.Slug"> @item.Title</a>
        </li>
    }
}
