@using Kidemy.Application.Services.Interfaces;
@using Kidemy.Application.ViewModels.Newsletter;
@using Kidemy.Application.ViewModels.SocialMedia;
@using Kidemy.Domain.Enums.Blog;
@using Kidemy.Domain.Statics;

@inject ISocialMediaService socialMediaService
@{
    var socialMedias = await socialMediaService.FilterSocialMediaAsync(new FilterSocialMediaViewModel());
}

<footer class="pt-5">
    <div class="container">
        <!-- Row START -->
        <div class="row g-4">

            <!-- Widget 1 START -->
            <div class="col-lg-4">
                <!-- logo -->
                <!-- logo -->
                @await Component.InvokeAsync("SubscribeToNewsletter")

                <!-- Social media icon -->
                <ul class="list-inline mb-0 mt-3">
                    @if (socialMedias is not null && socialMedias.Value.Entities.Any())
                    {
                        foreach (var socialMedia in socialMedias.Value.Entities.OrderBy(s => s.Priority))
                        {
                            <li class="list-inline-item">
                                <a class="btn btn-white btn-sm shadow px-2" href="@socialMedia.Link">
                                    <img src="@SiteTools.SocialMediaImagePath@socialMedia.ImageName" class="socialMedia-img" title="@socialMedia.Title" />
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- Widget 1 END -->
            <!-- Widget 2 START -->
            <div class="col-lg-8">
                <div class="row g-4">

                    @await Component.InvokeAsync("FooterUsefulLinks")

                    @await Component.InvokeAsync("FooterPages")

@*                     @await Component.InvokeAsync("BlogLinksForView", new {place = LinkPlace.Footer})
 *@
                    <div class="col-6 col-md-3">
                        <h5 class="mb-2 mb-md-4">لینک های سریع</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#">دوره های  آنلاین</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">کمپ برنامه نویسی </a></li>
                            <li class="nav-item"><a class="nav-link" href="#"> برنامه نویسی مقدماتی</a></li>
                        </ul>
                    </div>
                    @await Component.InvokeAsync("ContactUsFooter")
                </div>
            </div>
            <!-- Widget 2 END -->
            <!-- Widget 3 START -->
            <!-- Widget 3 END -->
        </div><!-- Row END -->
        <!-- Divider -->
        <hr class="mt-4 mb-0">

        <!-- Bottom footer -->
        <div class="py-3">
            <div class="container px-0">
                <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-md-left">
                    <div class="container">
                        &copy; 2023 - <a>تمامی حقوق برای کیدمی محفوظ می باشد</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
