
<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
    <div class="nav-item w-100">
        <form class="position-relative" asp-area="" asp-controller="Courses" asp-action="CoursesList" method="get">
            <input type="hidden" name="Page" value="1" />
            <input name="Title" class="form-control pe-5 bg-transparent" type="search" placeholder="@Localizer["Search"]..." aria-label="Search">
            <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
                <i class="fas fa-search fs-6 "></i>
            </button>
        </form>
    </div>
</div>
