@using Kidemy.Application.ViewModels.Blog;
@model List<BlogLinksForClientSideViewModel>


@if (Model is not null && Model.Any())
{
    <div class="col-6 col-md-3">
        <h5 class="mb-2 mb-md-4">@Localizer["Blog"]</h5>
        <ul class="nav flex-column">
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Blog" asp-action="Blog" asp-route-slug="@item.slug">@item.Title</a>
                </li>
            }
        </ul>
    </div>
}