@using Kidemy.Application.ViewModels.ContactUs;
@model AdminSideUpsertContactUsViewModel

<div class="col-6 col-md-3">   
    <h5 class="mb-2 mb-md-4">تماس با ما</h5>
    <!-- Time -->
    <p class="mb-2">
        تلفن: <span class="h6 fw-light ms-2">@Model.Mobile</span>
@*         <span class="d-block small">(9:00 تا 17:00 بعداز ظهر)</span>
 *@</p>

    <p class="mb-0">ایمیل:<span class="h6 fw-light ms-2">@Model.Email</span></p>

@*     <div class="row g-2 mt-2">
        <!-- Google play store button -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-6">
            <a href="#"> <img src="/assets/images/client/google-play.svg" alt=""> </a>
        </div>
        <!-- App store button -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-6">
            <a href="#"> <img src="/assets/images/client/app-store.svg" alt="app-store"> </a>
        </div>
    </div> <!-- Row END --> *@
</div>
