<div class="alert alert-info mb-4 mt-4 mx-5" role="alert">
    <div class="d-flex gap-3">
        <div class="flex-grow-1">
            <ul class="list-unstyled mb-0">
                <li>@Localizer["ItemsNotFound"]</li>
            </ul>
        </div>
    </div>
</div>
