@using Kidemy.Application.ViewModels.AboutUs;
@model List<ProgressBarListViewModel>

@if (Model is not null || Model.Any())
{
    <div class="row mt-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="overflow-hidden">
                    <h6>@item.Title</h6>
                    <div class="progress progress-sm bg-primary bg-opacity-10">
                        <div class="progress-bar bg-primary aos" role="progressbar" data-aos="slide-left" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width:@item.Percent%;" aria-valuemin="0" aria-valuemax="100">
                        </div>
                        <span class="progress-percent-simple ms-auto h6 fw-light">@item.Percent%</span>
                    </div>
                </div>
            </div>
        }
    </div>
}